<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Message ID: <%= id %> </title>
</head>
<body>
    <li>
    <p>Message: <%= message.text %></p>
    <p>Sender: <%= message.user %></p>
    <p>Time: <%= message.added %></p>
    <p>MessageID: <%= id %></p>
    </li>
</body>
</html>